<!DOCTYPE html>
<html>
<head>
	<title>Jawa Sounds</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
	<script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	<h1>{{id}}</h1>
	<div class="ct-chart ct-perfect-fourth"></div>
	<script>

		var query_str = "data/".concat({{id|tojson}})
		console.log(query_str)
		var getData = $.get(query_str)

		getData.done(function(results){
			var data = {
				labels: results.dates,
				series: [
				results.values
						]
				};
			var options = {
				width: 800,
				height:600
			}
			new Chartist.Line('.ct-chart', data,options);
		});


	</script>
</body>
</html>